<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
<title>Security Question</title>
</head>
<body>  
</hr>
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
             
              <h4 class="modal-title" id="myModalLabel">Security</h4>
          </div>
          <div class="modal-body">
              <div class="row">
                  <div class="col-xs-6">
                      <div class="well">
                          <form id="loginForm" method="POST" action="/securityQuestion" novalidate="novalidate">
                              <div class="form-group">
                                    <div class="form-group">
                                  <label for="securityQuestion" class="control-label">What is your mother's maiden name ?</label>
                                  <input type="password" class="form-control" id="name" name="name" value="" required="true" title="Please enter mother's maiden name">
                                  <span class="help-block"></span>
                              </div>
                               <button type="submit" class="btn btn-success btn-block">Set</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
</html>
