<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css' /> 
    <link rel='stylesheet' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css' /> 
  </head>
  
  <body>
    <div id="login-overlay" class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
             
              <h4 class="modal-title" id="myModalLabel">Sell on Ebay</h4>
          </div>
          <div class="modal-body">
            <div class="row">
                  <div class="col-xs-6">
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-shopping-cart "></span> Quote a base price</li>
                          <li><span class="fa fa-shopping-cart"></span> Let the bidding begin</li>
                          </ul>
                      <p><a href="/auction" class="btn btn-info btn-block">Auction it!</a></p>
                  </div>
			<div class="col-xs-6">
                      <ul class="list-unstyled" style="line-height: 2">
                          <li><span class="fa fa-send "></span> Don't have time for a bid ?</li>
                          <li><span class="fa fa-send "></span> Sell it for a fixed price</li>
                          </ul>
                      <p><a href="/selling" class="btn btn-info btn-block">Sell it now !!</a></p>
                  </div>
              </div>
          </div>
    </div>
  </div>
</div>
</div>
</body>
</html>
