<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
     <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
<link rel="stylesheet" href="/stylesheets/bootstrap.css" type="text/css" >
<link rel="stylesheet" href="/stylesheets/sell1.css" type="text/css" >
</head>
    
<div class="container">
<div class="panel panel-info">
            <div class="panel-heading">
              <div class="col-md-3 col-lg-3 " align="left"> <img alt="User Pic" src="/stylesheets/ebay.jpg" class="img-circle"> </div>
            </div>

    <form role="form" style="width:400px; margin: 3 auto;">
        <h3>Provide your address</h3>
        <h5>We will save save this as your main contact and shipping address</h5>
        
        <div class="required-field-block">
            <input type="text" placeholder="Country" class="form-control">
           
        </div>
        
        <div class="required-field-block">
            <input type="text" placeholder="State" class="form-control">
           </div>

<div class="required-field-block">
            <input type="text" placeholder="Street address" class="form-control">
           </div>
           <div class="required-field-block">
            <input type="text" placeholder="Zip code" class="form-control">
           </div>
        <input type="text" placeholder="Phone" class="form-control">
 
       
        
        <button class="btn btn-primary">Send</button>
    </form>
</div>
</body>
</html>
